body {
    border: 0px;
    margin: 0px;
    padding: 10px;
}
.porodica {
    border: 1px dotted red;
    margin: 0px;
    padding: 10px;
    

}
.otac {
    display: inline-block;
    position: relative;
    border: 1px dotted blue;
    margin: 10px;
    width: 23%;
    background-color: khaki;
    text-align: center;
    border-radius: 10px;
}
.majka {
    display: inline-block;
    position: relative;
    border: 1px dotted green;
    margin: 10px;
    width: 23%;
    background-color: lightblue;
    text-align: center;
    border-radius: 10px;
}
.sin {
    position: relative;
    color: lightcoral;
    border: 1px dotted red;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    top: 20px;
    background-color: blueviolet;
    z-index: 1;
    width: 50%;
    left: 20%;
}
.cerka {
    position: relative;
    color: red;
    border: 1px dotted blue;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: blueviolet;
    z-index: 1;
}

#square {
    position: absolute;
    top: 150px;
    left: 100px;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 10px;
    background-color: #e0e0e0;

}

#buttons {
    text-align: center;
}